body{
    margin: 0px
}

.main-div{
    display: grid;
    grid-template-columns: auto 62%;
    margin-top: 5%;
    margin-right: 3%;
}

.img-div{
    display: grid;
}

.main-img{
    width: 68%;
    justify-self: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.txt-div{
    display: grid;
    justify-content: center;
}

.main-title{
    font-family: 'Lora', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    filter: drop-shadow(0px 4px 1.5px rgba(0, 0, 0, 0.08)); 
}

.home-txt{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 120%;
    margin-bottom: -1%;
}

.link-pill{ 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.75px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 8px;
    width: 20%;
    height: 40%;
    background: black;
    color: white;
    text-align: center;
    align-self: center;
    justify-self: center;
}

.home-link{
    color: white;
    font-family: "Roboto", sans-serif;
}

.main-footer{
    display: grid;
    grid-template-columns: auto 65%;
    background-color: hsla(0, 2%, 92%, 0.7);
    margin-top: 13%;
    padding-bottom: 5%;
}

.quemSomos-title{
    font-family: 'Lora', serif;
    font-size: 209%;
    font-style: normal;
    font-weight: 400;
    border: 2.2px solid #17619E;
    transform: rotate(0.01deg);
    justify-self: center;
    border-bottom-style: solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    margin-left: 8%;
    padding-bottom: 1%;
}

.quemSomos-txt-div{
    margin-left: 18%;
}

.quemSomos-txt{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 106%;
    line-height: 24px;
    display: flex;
    align-items: center;
    width: 76%;
    margin-top: 3%;
}


@media only screen and (max-width: 1000px){
    .main-div { 
        margin-top: 5%;
        margin-right: 2%;
        margin-left: 2%;
        display: block;
    }

    .link-pill {
        padding: 14px; 
        width: 60%;
        margin: 5%;
    }

    .main-footer {
        margin-top: 5%;
        grid-template-rows: auto auto;
        grid-template-columns: none;
    }

    .quemSomos-title {
        margin-left: 0%;
    }

    .quemSomos-txt-div{
        margin-left: 9%;
    }

    .quemSomos-txt{
        width: 100%;
    }
}