.nextQuestionBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.75px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 16px;
    width: 20%;
    height: 40%;
    background: black;
    color: white;
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: 100%;
    font-family: "Roboto";
}

.outer-question-div{
    display: grid;
    margin: auto; 
    width: 70%;
}

.inner-question-div{
    display: grid;
    justify-items: center;
    align-items: center;
}

.question-txt{ 
    justify-self: center;
    font-family: "Lora";
    font-size: 130%;
}

.option-div{
    padding: 1%;
}

.option-label{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 115%;
}

.intro-txt-title{
    font-family: "Lora";
    font-size: 225%;
}

.intro-hello{ 
    font-family: "Roboto";
    font-size: 160%;
}

.intro-paragraph{
    font-family: "Roboto";
    font-size: 109%;
}

@keyframes highlight {
    0%   {background: white}
    25%  {background: rgba(104, 225, 253, 0.25)}
    50%  {background: rgba(104, 225, 253, 0.5)}
    75%  {background: rgba(104, 225, 253, 0.75)}
    100% {background: rgba(104, 225, 253, 1)}
    /* from {background: white;}
    to {background: yellow;} */
}

.highlight-txt{
    background: white;
    animation: highlight; 
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}